*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #081b29;
}
.header{
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 20px;
    
    align-items: center;
    z-index:100;
}
.header .logo{
    color: #ededed;
    font-weight: 900;
    font-size: 27px;
    text-decoration: none;
}
.navbar a{
    font-size: 17px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    transition: .8s;
}
.navbar a:hover{
    color: #00abf0;
}
.home{
    display: flex;
    align-items: center;
    height: 100vh;
    color: #ededed;
    font-size: 22px;
    font-weight: 600;
    padding:0 10%;
    background: url('Assets/Blue And Purple 90s Anime Guy Leaning Desktop Wallpaper(1).png') ;
    
}
.home h2 span {
    background: none;
    -webkit-text-fill-color: initial;
}
.home h2{
    background:linear-gradient(to right,#cfaccc,black);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.home-content{
    max-width:800px;    
    transition: .4s;

}
.home-content:hover{
    transform: scale(1.04);
}
.button{

    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    margin-right: 15px;
    text-decoration: none;
    padding-right: 15px;
    justify-content: space-between;
    gap: 19px;
}
.button a {
    margin-right: 15px; 
}
.button > .linkedin-logo, .github-logo ,.gmail-logo,.discord-logo{
    display: inline-block;
    transition: transform 0.3s ease; 
}

.button > .linkedin-logo:hover,.github-logo:hover,.gmail-logo:hover ,.discord-logo:hover{
    transform: scale(.8); 
}
.about {
    height: 100vh;
    color: #ededed;
    font-size: 2px;
    font-weight: 600;
    padding:0 10%;

}


.skills h1{
    color: #ededed;
    font-size: 50px;
    font-weight: 800;
    transition: .7s;
    font-family: overpass;
    text-shadow: -1px 0 #ededed, 0 1px #ededed, 1px 0 #ededed, 0 -1px #ededed;
    text-align: center;
    padding-top: 30px;
}

.skills h1:hover {
    transform: scale(1.04);
}


.skill-row{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 10px;
    

}
.project-container{
    display: flex;
    font-size: 20px;
    justify-content: space-evenly;
    max-width: auto;

}
.project h1{
    color: #ededed;
    font-size: 50px;
    font-weight: 800;
    transition: .7s;
    font-family: overpass;
    text-shadow: -1px 0 #ededed, 0 1px #ededed, 1px 0 #ededed, 0 -1px #ededed;
    text-align: center;
    margin: 25px;
    padding-top: 15px;
    padding-bottom: 15px;

}
.NyxText,.Portifolio{
max-width:28%;

box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
